.image {
    width: 12rem;
    height: 12rem;
}

.card {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.content {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    padding: 1rem;
}