.image {
    width: 12rem;
    height: 10rem;
}

.card {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.content {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    padding: 1rem;
}

p {
    margin:0;
    text-align: center;
    color: #262c2c;
    font-size: 1rem;
    font-weight: bold;
}